<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定namespace为接口的全类名

   Employee getEmpById(Integer id );-->
<mapper namespace="Dao.UserMapper">
    <resultMap id="UserResultMap" type="databaseOperation.User">
        <!--邮箱-->
        <id column="id" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="userId" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="verify" jdbcType="VARCHAR" property="verify"/>
    </resultMap>
<!--    数据库user表中userId为名字-->
    <select id="findByUserId" resultMap="UserResultMap" parameterType="String">
        select * from user_info
        <where>
            email = #{userId}
        </where>
    </select>
<!--    <select id="getPassword" resultType="String" parameterType="String">-->
<!--        select password from user-->
<!--        <where>-->
<!--            user_id = #{userId}-->
<!--        </where>-->
<!--    </select>-->
<!--    <insert id="insert">-->
<!--        insert into user (user_id,email,password)-->
<!--        values (#{userId},#{email},#{password})-->
<!--    </insert>-->
<!--    <select id="getSalt" resultType="String" parameterType="String">-->
<!--        select salt from user-->
<!--        <where>-->
<!--            name = #{name}-->
<!--        </where>-->
<!--    </select>-->
</mapper>