<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定namespace为接口的全类名

   Employee getEmpById(Integer id );-->
<mapper namespace="Dao.UserDeviceMapper">
    <select id="selectUserDev" parameterType="string" resultType="string">
        select dev_id  from user_dev where #{userId} = user_email
    </select>
    <insert id="addUserDev" parameterType="String">
        insert into user_dev (user_email,dev_id)
        values(#{userId},#{devId})
    </insert>
    <delete id="delUserDev" >
        delete from user_dev
        where #{userId} = user_email and #{devId} = dev_id
    </delete>
</mapper>